<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Starship Launch Tracking | 404</title>
    <link rel="stylesheet" href="styles/404.css">
</head>
<body>
    <div id="stars-background"></div>
    <div class="content">
        <div class="text-container">
            <h1>429 | Too Many Requests</h1>
            <p>Sorry, you've hit a rate limit. Please try again later or return <a href="/">Home?</a></p>
        </div>
    </div>
    <script src="styles/stars.js"></script>
</body>
</html>