<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Starship Launch Tracking</title>
    <link rel="stylesheet" href="styles/styles.css">
</head>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Starship Launch Tracking</title>
</head>
<body>
    <h1>Starship Launch Tracking</h1>
    <p>This is a boilerplate index page.</p>
    <p>Report Rocket Launches <a href="/reporter">Here!</a> Or if you want to look at past launches, go <a href="/viewer">Here!</a></p>
</body>
</html>